section.section-eight.bg-darkPink
  .container
    .section-eight__wrapper
      .section-eight__text.border-dashed
        p
          | Наши страны КНР и РФ - близкие соседи, связанные многовековыми традициями дружбы и доверия. И мы высоко ценим, что российско-китайские отношения всеобъемлющего партнёрства и стратегического взаимодействия, вступая в новую эпоху, достигли беспрецедентного уровня, стали образцом эффективности, ответственности, устремлённости в будущее.
        p
          | Генеральный директор Грингут Анастасия Евгеньевна была награждена грамотой за неоценимый влкад в организацию антикризисного штаба - наша компания гарантирует справедливую цену на все юридические услуги для бизнесменов из КНР
      
    img(src="./images/icons/ilustration.png", alt="").section-eight__image