section.section-eleven.bg-pink#achievements
  .container
    h2.section-eleven__title.chines-text
      | Наши достижения и грамоты
    .section-eleven__slider.swiper.slider
      .swiper-wrapper
        .swiper-slide
          .slider__block
            .slider__text
              p
                | Мы включены в состав Российско-Испанского делового совета!
              p 
                | В соответствии с нашим письмом от 20.02.2019 г., мы включены в состав Российско-Испанского делового совета.
            .slider__image
              img(src="./images/slide.png", alt="slide")
      .slider__navigation
        .swiper-button-prev
          +svg('arrow-left')
        .swiper-button-next
          +svg('arrow-right')