section.section-fifteen
  .container
    .section-fifteen__wrapper.padding
      h2.section-fifteen__title.chines-text
        | Оставьте свою заявку тут, чтобы получить полное юридичское сопровождение по таможенному праву в РФ
      .section-fifteen__block
        .section-fifteen__left
          ul.section-fifteen__lists
            li.section-fifteen__list
              | Консультация по налогам Помощь в проверке контрагентов
            li.section-fifteen__list
              | Регистрация юридического лица, филиала, представительства для бизнесмена из КНР "под ключ"
            li.section-fifteen__list
              | Выбор оптимальной организационно-правовой формы и налогообложения
          p
            | И еще сотни различных юридических услуг мы готовы выполнить для представителей КНР в РФ. Оставьте свой номер телефона и мы свяжемся с вами в течении нескольких минут.
        .section-fifteen__right
          +form('', 'Записаться')(class="section-fifteen__form form-bg")
          img(src="./images/icons/man5.png", alt="man5").section-fifteen__image
