section.section-five
  .container
    .section-five__wrapper.padding
      h2.section-five__title.chines-text
        | 3 Пакета услуг
      .section-five__hand.hand-scroll
        img(src="./images/icons/scroll.png", alt="scroll")
      .section-five__table
        include ../components/table
      .section-five__text
        p
          | Задачи, которые Вы отдаете нам выполнять "под ключ", будут стоить для Вас дешевле
        p
          | У нашей компании обширные связи с российскими топ бизнесменам и государственными органами: 
          | <br> органами исполнительной и судебной власти и иными государственными структурами на территории РФ.