section.section-fourteen.bg-pink
  .container
    h2.section-fourteen__title.chines-text
      | Возможные проблемы интегрирования бизнеса в Россию
    .section-fourteen__wrapper
      .section-fourteen__left
        .section-fourteen__block.border
          p Открытие бизнеса на территории РФ - довольно сложная процедура.
          button(type="button").btn.btn-secondary.js-popupInit
            | Записаться
      .section-fourteen__right
        .section-fourteen__text
          p Самостоятельно открытие бизнеса в России не всегда идет гладко. Поэтому бизнесмены из КНР без надежного юридического партнера в РФ, которым является наша компания, может столкнуться со следующими проблемами:
        .section-fourteen__info
          h2.section-fourteen__star
            | Сложности с законодательством.
          p
            | Нормативно-правовые акты в России имеют свою специфику. Часто они сильно отличаются от законов, которые действуют в других странах. Предварительно лучше ознакомиться с особенностями ведения бизнеса в России, заказав предварительную консультацию.
          h2.section-fourteen__star
            | Бюрократические вопросы.
          p
            | С ними приходится сталкиваться с самого начала оформления бизнеса в Российской Федерации. Часто ФНС чрезмерно придирается, излишне контролирует иностранного бизнесмена.
          h2.section-fourteen__star
            | Отсутствие содействия в открытии бизнеса со стороны государственных органов.
          p
            | Не предоставляют бесплатные консультации, не разъясняют все особенности подготовки к предстоящей процедуре. Поэтому сразу обратитесь к нам, чтобы не столкнуться со сложностями.
          h2.section-fourteen__star
            | Незнание рынка.
          p
            | Целевая аудитория в РФ может значительно отличаться от потенциальных покупателей, которые употребляют ваш товар на рынке другого государства.
          h2.section-fourteen__star
            | Незнание менталитета.
          p
            | Если хотите сделать все правильно, необходимо заранее изучить логику целевой аудитории, понять её особенности и обратиться к профессиональным юристам.