section.section-four.bg-pink
  .container
    .section-four__top.padding
      h2.section-four__title.chines-text
        | Как интегрировать <br>бизнес в Россию
      p.section-four__subtitle  
        | Если бизнесмен из КНР хочет <br> зарегистрировать бизнес в РФ, предстоит:
    .section-four__middle
      ul.section-four__lists.section-four__lists--first.border
        .section-four__number
          | 1
        li.section-four__list
          p Подготовиться к предстоящей процедуре, собрать перечень необходимых документов
      ul.section-four__lists.section-four__lists--second.border
        .section-four__number
          | 2
        li.section-four__list
          p Заполнить заявление, а затем обратиться в ФНС и передать все необходимые бумаги на проверку
      ul.section-four__lists.section-four__lists--third.border
        .section-four__number
          | 3
        li.section-four__list
          p
            | Дождаться, пока сотрудник налоговой службы проверит документацию. 
          p 
            | Когда открыть бизнес хочет бизнесмен из КНР, к контролю подходят очень тщательно. 
          p 
            | Поводом для отклонения заявки может стать даже небольшая ошибка
      ul.section-four__lists.section-four__lists--four.border
        .section-four__number
          | 4
        li.section-four__list
          p Узнать итоговое решение. <br> Заявку могут одобрить или отклонить. 
          p Всё зависит от того, удалось ли вам соблюсти требования
    .section-four__bottom.padding
      .section-four__border.border-dashed
        p
          | Вышеуказанная процедура общая для всех вариантов регистрации бизнеса для иностранного гражданина в России. Однако выбранная организационно-правовая форма оказывает прямое влияние на особенности процедуры. Возникает много персональных нюансов, необходимо участие в обязательном порядке. Если их упустить из вида, вы столкнетесь со сложностями. Этого не произойдет, если работа ведется совместно с профессиональным юристом.
        p
          | Обращаясь в нашу компанию вы закрепляете за собой персонального эксперта, а так же и юридического специалиста, который на каждом этапе разъясняет вам особенности ситуации, учтеты и нюансы выбранной организационно-правовой формы, поможет подготовить все документы. 
        p
          | С нашей помошью вы можете получить абсолютно все что вам необходимо для бизнеса в РФ "под ключ"
      .section-four__block
        img(src="./images/icons/man3.png", alt="man").section-four__image
        form.section-four__form.border
          p Соберём весь пакет документов с гарантией
          button(type="button").btn.btn-primary
            | Записаться