section.hero.bg-pink
  .container
    .hero__wrapper.padding
      .hero__block
        h2.hero__title.chines-text
          | Юридическое <br> сопровождение <br> Под ключ
        p.hero__subtitle
          | Полное сопровождение китайского <br>бизнеса и бизнесменов из китая на <br>российском рынке с гарантией<br> качества и честной цены
        .hero__btn
          button(type="button").btn.btn-primary.js-popupInit
            | Оставить заявку
      .hero__image
        img(src="./images/icons/hands.png", alt="hands")