section.section-last.bg-pink
  .container  
    h2.section-last__title.chines-text.padding
      | Для бизнесменов <br> из КНР в РФ
    .section-last__wrapper
      .section-last__top
        .section-last__block.section-last__large.border
          .section-last__text
            | Успех нашего клиента – это наш успех!
          .section-last__btn
            button(type="button").btn.btn-primary.js-popupInit
              | Оставить заявку
        .section-last__block.border
          ul.section-last__lists
            li.section-last__list
              h5
                | Высокий профессионализм сотрудников
              p
                | В штате работают более 80 экспертов - юристов, обеспечивающих юридическое обслуживание бизнесменов из КНР, налоговое планирование и взаимодействие с государственными органами.
        .section-last__block.border
          ul.section-last__lists
            li.section-last__list
              h5
                | Оперативность
              p
                | Мы решаем задачи в максимально сжатые сроки. Даже если ваш срок - вчера.
      .section-last__bottom
        .section-last__block.border
          ul.section-last__lists
            li.section-last__list
              h5
                | Надежность
              p
                | Мы гарантируем соблюдение условий договора, заключенного с китайским представителем, и полную конфиденциальность полученной от него информации.
        .section-last__block.border
          ul.section-last__lists
            li.section-last__list
              h5
                | Обширный перечень услуг
              p
                | Мы гарантируем соблюдение условий договора, заключенного с китайским представителем, и полную конфиденциальность полученной от него информации.
        .section-last__block.border
          ul.section-last__lists
            li.section-last__list
              h5
                | Многолетний опыт оказания услуг
              p
                | Более 10 лет компания оказывает правовые услуги бизнесу и бизнесменам со всего мира