-
  var lists = [
    {
      title: 'Многие инвесторы задумываются как иностранцу открыть бизнес в РОССИИ',
      subtitle: 'на первый взгляд это кажется очень сложным и практически невыполнимым заданием, ведь законодательство РФ может значительно отличаться от привычных правил страны резидентства иностранного гражданина. Однако, не стоит отчаиваться – мы готовы вам помочь с любым вопросом, и любой юридической ситуацие, просто оставьте заявку или свяжитесь с нами любым удобным для вас способом.'
    },
    {
      title: 'Профессиональные юридические услуги, оказываемые нашей компанией',
      subtitle: 'поспособствуют быстрой и законной регистрации бизнеса в России. Первую услугу бизнесменам из КНР оказываем БЕСПЛАТНО, для того что бы познакомиться и продемонстрировать самое высокое качество наших услуг.'
    },
    {
      title: 'Чтобы открыть ООО иностранцу в РФ нет никаких законодательных препятствий или ограничений',
      subtitle: 'поспособствуют быстрой и законной регистрации бизнеса в России. Первую услугу бизнесменам из КНР оказываем БЕСПЛАТНО, для того что бы познакомиться и продемонстрировать самое высокое качество наших услуг.'
    }
  ]

section.section-nine.bg-pink
  .container
    .section-nine__wrapper
      .section-nine__block
        each list in lists
          ul.section-nine__lists.border
              li.section-nine__list
                h3!=list.title
                p!=list.subtitle
      .section-nine__bottom#bisness
        h2.section-nine__title.chines-text 
          | Для бизнесменов из КНР - полная подготовка документов для ведения бизнеса в РФ
        .section-nine__row
          .section-nine__text
            p Под ключ: аутсорсинговое сопровождение, налоговое право, договорное право, корпоративное право РФ и другие юридические услуги. 
            p Хотите узнать полный перечень? Оставьте свой номер телефона и мы перезвоним вам в течении нескольких минут
          .section-nine__right
            +form('', 'Узнать услуги')(class="section-nine__form form-bg")
            img(src="./images/icons/hand.png", alt="hand").section-nine__image