section.section-seventeen.bg-darkPink#help
  .container
    .section-seventeen__wrapper.padding
      .section-seventeen__block.border-dashed
        .section-seventeen__text
          h2.section-seventeen__title.chines-text
            | Вам нужна консультация по договорному или таможенному праву
          p
            | Получите консультацию и исполнение первой услуги от нашей компании бесплатно!
        .section-seventeen__form
          img(src="./images/icons/man7.png", alt="").section-seventeen__image
          +form('', 'Узнать услуги')(class="form-bg")