section.section-six.bg-darkPink
  .container
    .section-six__wrapper 
      .section-six__text
        p.section-six__subtitle
          | У вас иновационный стартап?
        h2.section-six__title.chines-text
          | Мы поможем вам с регистрацией интелектуальных прав на территории РФ.
        p
          | Проводим бесплатные консультации для бизнесменов из КНР, планирующих начать бизнес в России.
      .section-six__block
        +form('', 'Записаться')(class="section-six__form form-bg")
        img(src="./images/icons/man4.png", alt="man4").section-six__img