- 
  var radio = true

section.section-sixteen
  .container
    .section-sixteen__wrapper.padding
      .section-sixteen__border.border-dashed
        p
          | Нашим партнерам всегда предлагается возможность получить на привлекательных условиях комплексные профессиональные услуги высококвалифицированных специалистов в областях бухгалтерского учета, аудита и налогового права. Индивидуальный подход к каждому проекту позволяет обеспечить максимально эффективный результат для нашего партнера, что является нашим приоритетом в работе.
        p
          | Мы видим свою задачу в том, что бы налоговые проверки проходили наименее безболезненно, претензии налоговиков были минимальными, а налоговая оптимизация - максимально эффективной.
        p
          | Мы будем рады долгосрочному и плодотворному сотрудничеству с Вашей компанией и оправдаем оказанное доверие.
      h2.section-sixteen__title.chines-text
        | Полное сопровождение под ключ сделок с недвижимостью в РФ для бизнесменов из КНР
      .section-sixteen__block
        .section-sixteen__left.border-dashed
          h3 Вас интересует сделка с частной или коммерческой недвижимостью? 
          p (Дом, квартира, офис и торговый центр - любая жилая и коммерческая недвижимость)
        +form('', 'Узнать услуги', data)(class="section-sixteen__form form-bg")
        img(src="./images/icons/man6.png", alt="man6").section-sixteen__image