section.section-ten
  .container
    .section-ten__wrapper.padding
      h2.section-ten__title.chines-text
        | Видео обращение к бизнесменам из КНР
      img(src="./images/img.jpg", alt="").section-ten__video
      .section-ten__btn
        button(type="button").btn.btn-primary
          | Оставить заявку