-
  var collapses = [
    'Оформление ООО для иностранца в Москве',
    'Регистрация представительства иностранной компании',
    'Регистрация ООО учредителем иностранцем',
    'Регистрация ООО с иностранным участием',
    'Регистрация ООО без присутствия иностранного учредителя в стране',
    'Покупка бизнеса иностранным гражданином в России'
  ]

section.section-thirteen#integration
  .container
    h2.section-thirteen__title.chines-text.padding
      | Особенности интеграции бизнеса в Россию для китайского бизнеса
    .section-thirteen__wrapper
      .section-thirteen__left
        .section-thirteen__block.border
          p Открытие бизнеса на территории РФ - довольно сложная процедура.
          button(type="button").btn.btn-secondary.js-popupInit
            | Записаться
      .section-thirteen__right
        .section-thirteen__text
          p Особенности её выполнения напрямую зависят от того, какую организационно-правовую форму вы выбрали. Иногда может возникнуть потребность в их изначальном оформлении. Поэтому заранее ознакомьтесь с особенностями ситуации или сразу обратитесь за помощью к нашим юристам.
          p У нас работают юристы, которые уже знают, как действовать в зависимости от персональных нюансов. Специалисты оценят сложность случая, подскажут, соответствуете ли вы установленным требованиям, сообщат, какие нюансы нужно устранить, чтобы заявку на регистрацию бизнеса одобрили. Может быть предоставлена единоразовая услуга или комплексная помощь. Всё зависит от особенности ситуации и ваших пожеланий.
        .section-thirteen__collapse.collapse
          each collapse in collapses
            .collapse__item.border
              .collapse__header
                h3.collapse__title!=collapse
                span.collapse__close
              .collapse__body
                p
                  | Регистрация ООО для иностранного гражданина в России - способ открыть крупный бизнес, став юридическим лицом. Для выполнения процедуры необходимо подготовить много документов. В частности, придётся сформировать устав организации, заполнить заявление, расформировать уставной капитал ООО. В результате удастся создать юридическое лицо. У него должен присутствовать юридический адрес, который нужно найти заранее. В стандартный перечень бумаг предстоит включить документы, подтверждающие факт его присутствия. В процедуре открытия бизнеса в форме ООО для иностранного гражданина в России присутствует и ряд других особенностей. Чтобы не тратить время на их изучение и не допустить ошибки, лучше сразу начните сотрудничество с нашими юристами. Такой способ оформления значительно экономит время и позволяет добиться удовлетворения заявки на создание ООО для иностранного гражданина с первого раза.
                p
                  | Помимо заявления о регистрации бизнеса для иностранного гражданина в России потребуется предоставить дополнительный документ, в котором нужно обозначить выбранную систему налогообложения. Если этого не сделать, по умолчанию будет применено ОСНО.