section.section-three
  .container
    .section-three__wrapper.padding
      h2.section-three__title.chines-text
        | Образцы договоров
      .section-three__block
        .section-three__left
          .section-three__downloads
            a(href="#" title="Скачать договор на китайском языке").section-three__download
              img(src="./images/icons/china.png", alt="china")
              .section-three__downloadBLock
                span Договор на <br>китайском языке
                .section-three__downloadIcon
                  +svg('arrow-down')
            a(href="#" title="Скачать договор на русском языке").section-three__download
              img(src="./images/icons/russia.png", alt="russia")
              .section-three__downloadBLock
                span Договор на <br>русском языке
                .section-three__downloadIcon
                  +svg('arrow-down')
          img(src="./images/icons/man2.png", alt="man2").section-three__image
        .section-three__right
          p
            | Наши цены более выгодные чем у остальных - гарантия справедливой цены для бизнесменов из КНР на все услуги нашей компании в РФ
          p
            | Все до единого специалисты – высококвалифицированные, в том числе кандидаты юридических наук высококвалифицированные юристы и средний стаж каждого сотрудника 10 лет.
          p
            | Уникальная специфика команды юристов позволяет нашей компании оказывать любые юридические услуги представителям из КНР
          p
            | Заключаем контракты на оказание юридических услуг любой направленности и сложности, любой подведомвестности, и территориальности
          p
            | Заключаем контракты на оказание юридических услуг любой направленности и сложности, любой подведомвестности, и территориальности
          .section-three__btn
            button(type="button").btn.btn-big.js-popupInit
              | Заключить договор