section.section-twelve.bg-pink
  .container
    h2.section-twelve__title.chines-text.padding
      | Обращение компании к народу КНР
    .section-twelve__wrapper
      .section-twelve__text.border-dashed
        p
          | Этой страницей Вы открываете для себя знакомство, а может быть и долгое плодотворное сотрудничество с уникальным коллективом высококлассных профессионалов правового холдинга «Академия Правовых Решений».
        p 
          | В России много хороших юристов и адвокатов, и некоторые из них могут решить отдельные правовые проблемы не хуже нас, однако только при поддержке Академии Правовых Решений Ваш бизнес сможет адаптироваться к российским реалиям и решить весь комплекс структурных, организационных, правовых и  иных задач при реализации бизнес-проектов любой специфики и сложности.
        p
          | Стараясь всемерно избегать односторонности и ограниченности, мы не теряемся перед разнообразием вызовов и проблем.  Мы решаем их, исходя из принципа:  если почувствовал ветер перемен, строй не щит от ветра, а ветряную мельницу.  
        p
          | Упорство, постоянство и кропотливый труд  – вот ключи успеха к достижению любой поставленной цели. И мы как никто другой знаем, что путь к большим достижениям состоит из каждодневных маленьких шагов.
        p 
          | И весь наш коллектив готов с полной отдачей сил сопровождать Вас на этом пути, радуясь каждой  Вашей победе.
        p 
          | Вместе мы сможем все!
      .section-twelve__img 
        img(src="./images/chinesman.png", alt="")