section.section-twelveten.bg-darkPink
  .container
    .section-twelveten__wrapper
      h2.section-twelveten__title.padding
        | Компетенция специалистов «Академии Правовых Решений»  позволяет охватить широкий спектр услуг в правовом поле  российской юрисдикции, в том числе, но не исключительно 
      .section-twelveten__row
        .section-twelveten__col-8 
          .section-twelveten__block.border
            .section-twelveten__header
              | Оказание следующих видов правовых услуг:
            .section-twelveten__body
              ul.section-twelveten__lists
                li.section-twelveten__list
                  | Компетенция специалистов «Академии Правовых Решений»  позволяет охватить широкий спектр услуг в правовом поле  российской юрисдикции, в том числе, но не исключительно 
                li.section-twelveten__list
                  | Представительство в любых органах государственной власти и управления и любых организациях, квалифицированное посредничество и правовое участие в любых переговорных процессах
                li.section-twelveten__list
                  | Создание, реорганизация и ликвидация любых коммерческих и некоммерческих организаций и объединений, включая компании с иностранными инвестициями, филиалы и представительства иностранных организаций
              ul.section-twelveten__lists
                li.section-twelveten__list
                  | Приобретение, реализация, управление всеми видами недвижимого имущества
                li.section-twelveten__list
                  | Антикризисное управление и полное комплексное сопровождение процедур банкротства
                li.section-twelveten__list
                  | Комплексный правовой анализ отраслей и институтов российского законодательства в интересующем клиента разрезе
        .section-twelveten__col-4
          .section-twelveten__block.border
            .section-twelveten__header
              | Осуществление поддержки и сопровождения бизнеса по следующим основным отраслям права и законодательства:
            .section-twelveten__body
              ul.section-twelveten__lists
                li.section-twelveten__list
                  | гражданское
                li.section-twelveten__list
                  | международное
                li.section-twelveten__list
                  | торговое
                li.section-twelveten__list
                  | таможенное
                li.section-twelveten__list
                  | банковское
                li.section-twelveten__list
                  | корпоративное
                li.section-twelveten__list
                  | налоговое
                li.section-twelveten__list
                  | административное
                li.section-twelveten__list
                  | банкротное
      .section-twelveten__row
        .section-twelveten__col-12
          .section-twelveten__block.border
            .section-twelveten__header
              | Обеспечение подготовки и реализации следующих правовых мероприятий и документов
            .section-twelveten__body
              ul.section-twelveten__lists
                li.section-twelveten__list
                  | Подготовка схем оптимального структурирования бизнеса крупных холдингов с учетом экономической безопасности, специфики производственных процессов и маркетинговых стратегий
                li.section-twelveten__list
                  | Due diligence  компаний
                li.section-twelveten__list
                  | Подготовка проектов любых контрактов, включая международные с учетом норм и правил  ИНКОТЕРМС
                li.section-twelveten__list
                  | Оспаривание решений налоговых и иных административных органов
              ul.section-twelveten__lists
                li.section-twelveten__list
                  | Подготовка бизнес-планов и полное правовое сопровождение их реализации
                li.section-twelveten__list
                  | Получение  любых разрешений и лицензий
                li.section-twelveten__list
                  | Разработка комплектов любой учредительной документации под индивидуальные особенности клиент
              ul.section-twelveten__lists
                li.section-twelveten__list
                  | Регистрация сделок и объектов недвижимого имущества
                li.section-twelveten__list
                  | Подбор оптимальных систем налогообложения и налоговая оптимизация деятельности компании
                li.section-twelveten__list
                  | Консультирование по любым правовым вопросам