footer.footer
	.container
		.footer__top
			.footer__logo
				svg(xmlns='http://www.w3.org/2000/svg' width='183' height='49' viewbox='0 0 183 49' fill='none')
					path(d='M25.85 29.35L24.75 33H8.05C7.11667 33 6.26667 32.6833 5.5 32.05C4.56667 31.35 4.08333 30.4167 4.05 29.25L3.95 16.2C3.18333 16.1 2.41667 16 1.65 15.9C0.883333 15.6 0.5 14.9667 0.5 14V13.1L9.45 13.05L9.5 29.35H25.85ZM50.0645 33L30.2145 32.9C29.3145 32.9 28.4645 32.5833 27.6645 31.95C26.7311 31.2167 26.2645 30.2833 26.2645 29.15L26.3145 20.6H44.5645C44.5645 17.3 42.3478 15.65 37.9145 15.65C36.0145 15.65 33.1478 15.95 29.3145 16.55L27.7145 12.85C31.4478 11.8167 34.8311 11.3 37.8645 11.3C41.6978 11.3 44.6811 12.1167 46.8145 13.75C48.9811 15.35 50.0645 17.6333 50.0645 20.6V33ZM44.6145 28.75V24.25H31.7645V28.75H44.6145ZM87.5125 13.05L87.4625 30.9C85.4625 32.2 82.5625 33.2167 78.7625 33.95C75.8625 34.5167 73.3958 34.8 71.3625 34.8C69.1958 34.8 66.7792 34.5667 64.1125 34.1C60.4125 33.4667 57.5625 32.5 55.5625 31.2V15.95C54.7958 15.85 54.0292 15.75 53.2625 15.65C52.4958 15.35 52.1125 14.7167 52.1125 13.75V12.85L61.0625 12.8L61.0125 28.6C63.5792 29.6333 66.0958 30.2833 68.5625 30.55L68.6125 15L74.0125 14V30.55C76.6792 30.2833 79.3625 29.6167 82.0625 28.55V13.05H87.5125ZM115.875 12.95L115.825 25.05C115.825 28.3833 114.325 30.8333 111.325 32.4C108.891 33.7 105.625 34.35 101.525 34.35C99.2913 34.35 97.0246 34.15 94.7246 33.75L94.9746 30.25C96.5413 30.3833 98.0079 30.45 99.3746 30.45C106.641 30.45 110.275 28.65 110.275 25.05L94.3246 24.9C93.4246 24.9 92.5746 24.5833 91.7746 23.95C90.8413 23.25 90.3746 22.3167 90.3746 21.15L90.4246 12.8L95.8246 12.75L95.8746 20.75L110.375 20.7L110.425 12.9L115.875 12.95ZM141.094 20.7C141.094 21.8667 140.627 22.8167 139.694 23.55C138.894 24.15 138.044 24.45 137.144 24.45H124.344V29.35H140.694L139.594 33H122.844C121.944 33 121.094 32.6833 120.294 32.05C119.36 31.35 118.894 30.4167 118.894 29.25V13.05H135.744V11.05L140.694 10.55V16.65L124.344 16.7V20.3H141.094V20.7ZM167.646 32.65C165.746 32.95 163.996 33.1 162.396 33.1C155.063 33.1 151.446 30.2333 151.546 24.5H149.196V33H143.746V13.05H167.496L167.546 20.75C167.579 21.8833 167.129 22.8167 166.196 23.55C165.396 24.1833 164.529 24.5 163.596 24.5H157.046C157.046 27.8 159.246 29.45 163.646 29.45C164.546 29.45 165.779 29.3667 167.346 29.2L167.646 32.65ZM162.096 20.35V16.7H149.196V20.35H162.096Z' fill='white')
					circle(cx='178' cy='28' r='5' fill='#E22929')
			.footer__text
				| Более десяти лет работы в реальном <br> секторе российской экономики
			.footer__nav
				.footer__list
					each object, key in data.header.menu
						a.footer__link.js-to-anchor(
							href=object.url
							data-link=key
						)!= object.name
			.footer__language
				include ./lang
		.footer__bottom
			.footer__text
				| Более десяти лет работы в реальном <br> секторе российской экономики
			.footer__copyright
				| &copy;&nbsp;Все права защищены “НАЗВАНИЕ САЙТА”