-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '#bisness',
					name: 'Для бизнесов'
				},
				{
					url: '#services',
					name: 'Услуги'
				},
				{
					url: '#achievements',
					name: 'Наши достижения'
				},
				{
					url: '#conditions',
					name: 'Условия'
				},
				{
					url: '#integration',
					name: 'Интеграция бизнеса'
				},
				{
					url: '#faq',
					name: 'FAQ'
				},
				{
					url: '#help',
					name: 'Помощь'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
